<link rel="stylesheet" href="@components/layout/popup/popup.scss">
<div data-fls-popup="popup-form" data-lenis-prevent="false" aria-hidden="true" class="popup-form">
	<div data-fls-popup-wrapper>
		<div data-fls-popup-body>
			<button data-fls-popup-close type="button" class="popup__close" aria-label="close popup">
				<svg class="popup__close-i-1" width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect x="0.5" y="0.5" width="63" height="63" rx="31.5" stroke="#633510" />
					<path d="M47 47L17 17" stroke="#633510" stroke-linecap="round" stroke-linejoin="round" />
					<path d="M47 17L17 47" stroke="#633510" stroke-linecap="round" stroke-linejoin="round" />
				</svg>
				<svg class="popup__close-i-2" width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M1.70691 26.7225L14.2429 14.1865L26.7788 26.7225C27.1693 27.113 27.8025 27.113 28.193 26.7225C28.5825 26.3323 28.5838 25.699 28.193 25.3083L15.6571 12.7723L19.3652 9.06416C19.7538 8.67427 19.7554 8.04149 19.3646 7.65064C18.974 7.26075 18.3411 7.26124 17.951 7.64995L14.2429 11.3581L3.17844 0.293688C2.788 -0.0961781 2.15455 -0.0959326 1.76423 0.293688C1.37353 0.684382 1.37457 1.31767 1.76423 1.7079L12.8287 12.7723L0.2927 25.3083C-0.098013 25.699 -0.0968585 26.3323 0.2927 26.7225C0.683224 27.113 1.31639 27.113 1.70691 26.7225ZM23.7791 4.65027L26.7229 1.70652C27.1118 1.31642 27.1127 0.683648 26.7222 0.292997C26.3315 -0.0977053 25.6987 -0.0965573 25.3087 0.292307L22.3649 3.23605C21.9744 3.62658 21.9744 4.25974 22.3649 4.65027C22.7554 5.04064 23.3886 5.04082 23.7791 4.65027Z"
						fill="#633510" />
				</svg>

			</button>
			<div data-fls-popup-content class="popup-form__content">
				<div class="popup-form__body">
					<div class="popup-form__wrapper">
						<div class="popup-form__head">
							<h2 class="popup-form__title">Надіслати запит</h2>
							<div class="popup-form__subtitle">
								<p>Ми раді майбутній співпраці!</p>
							</div>
						</div>
						<form class="popup-form__form" data-fls-form-novalidate data-fls-form="dev" action="#" method="POST">
							<div class="popup-form__items">
								<div class="popup-form__item">
									<label for="f1" class="popup-form__label">Ваше імʼя:</label>
									<input id="f1" type="text" name="form[name]" class="input">
								</div>
								<div class="popup-form__item">
									<label for="f2" class="popup-form__label">E-mail:</label>
									<input id="f2" type="email" name="form[email]" class="input" required>
								</div>
								<div class="popup-form__item">
									<label for="f3" class="popup-form__label">Телефон:</label>
									<input id="f3" type="tel" name="form[tel]" class="input">
								</div>
							</div>
							<div class="popup-form__item">
								<label for="f4" class="popup-form__label">Ваше повідомлення:</label>
								<textarea id="f4" name="form[message]" class="input"></textarea>
							</div>
							<button type="submit" data-fls-button class="popup-form__send btn btn--a">
								<span>Надіслати</span>
							</button>
						</form>
					</div>
					<div class="popup-form__msg">
						<div class="popup-form__msg-t">
							<p>ВАШ запит<br> ПРИЙНЯТо!</p>
						</div>
						<div class="popup-form__msg-subt">
							<p>Дякую за ваше звернення та зацікавленість.<br><br> Ми зв'яжемося з вами найближчим часом</p>
						</div>
					</div>
				</div>
				<div class="popup-form__img">
					<img class="ibg ibg--cn" src="@img/elements/popup-form.png" width="660" heigh="778" alt="Image">
				</div>
			</div>
		</div>
	</div>
</div>