body::after {
	content: "";
	background-color: var(--yellow-2);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.4s ease 0s;
	pointer-events: none;
	z-index: 149;
	@media (min-width:toEm($mobileSmall)){
		transition: opacity 0.8s ease 0s;
		background-color: rgba(0, 0, 0, 0.5);
	}
	@media (max-width:toEm($mobileSmall)){
		 .page-bonisano & {
				background-color: var(--yellow);
			}
			.page-elly & {
				background-color: var(--blue);
			}
			.page-molinero & {
				background-color: var(--orange);
			} 
	}
}
[data-fls-popup-open] body::after {
	opacity: 1;
}
[data-fls-popup] {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 0px;
	transition: opacity 0.65s ease 0s, visibility 0.65s ease 0s;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	z-index: 150;
	@media (min-width:toEm($mobileSmall)){
		padding: 30px 10px;
	}
	&[data-fls-popup-active] {
		opacity: 1;
		visibility: visible;
		overflow: auto;
		pointer-events: auto;
	}
}
[data-fls-popup-wrapper] {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
[data-fls-popup-body] {
	visibility: hidden;
	transform: translate(0%,10%);
	opacity: 0;
	transition:
	transform 0.4s ease 0s,
	opacity 0.4s ease 0s,
	visibility 0.4s ease 0s;
	background-color: var(--yellow-2);
	width: 100%;
	max-width: 1290px;
	border-radius: 30px;
	overflow: hidden;
	@media (min-width:toEm($tablet)){
		transform: translate(0%,20%);
	}
	.page-bonisano & {
		background-color: var(--yellow);
	}
	.page-elly & {
		background-color: var(--blue);
	}
	.page-molinero & {
		background-color: var(--orange);
	}
	.popup-form & {
		background-color: var(--yellow-2);
	}
}
[data-fls-popup-active] [data-fls-popup-body] {
	visibility: visible;
	transform: translate(0%,0%);
	opacity: 1;
}

[data-fls-popup-close] {
	outline: none	;
	position: absolute;
	z-index: 5;
	top: 0%;
	right: 50%;
	transform: translate(50%,0%);
	@media (min-width:toEm($mobileSmall)){
		top: 36px;
		right: 40px;
		transform: translate(0%,0%);
	}
	@media (any-hover: hover){
		&:hover{
			svg {
				transform: scale(1.1);
			}
		}
	}
	svg {
		transition: transform .3s ease;
	}
	.popup__close-i-1 {
		display: none;
		@media (min-width:toEm(820.98)){
			 display: block; 
		}
	}
	.popup__close-i-2 {
		@media (min-width:toEm(820.98)){
			 display: none; 
		}
	}
}

.popup {

		&__close-i-1 {
		}

		&__close-i-2 {
		}
}


.popup-form {
		// .popup-form__content
		&__content {
			position: relative;
			z-index: 1;
			display: grid;
			@media (min-width:toEm(1200.98)){
				grid-template-columns: 1fr 1fr;
			}
			@media (max-width: toEm(1200.98)) and (min-width:toEm(820.98)) {
				grid-template-columns: 60% 1fr;
			}
			@media (min-width:toEm(820.98)){
				&::before {
					content:'';
					position: absolute;
					z-index: -1;
					top: 0%;
					left: 50%;
					transform: translate(0%,-9%);
					width: 1824px;
					aspect-ratio: 1824/1680;
					background-color: #fff;
					border-radius: 50%;
				}
			}
		}

		// .popup-form__body
		&__body {
			position: relative;
			@media (min-width:toEm(1200.98)){
				padding-block: 90px 97px;
				padding-left: 105px;
			}
			@media (max-width: toEm(1200.98)) and (min-width:toEm(820.98)) {
				padding-block: 60px;
				padding-left: 60px;
			}
			@media (max-width: toEm(820.98)){
				padding: 77px 60px 60px;
			}
			@media (max-width:toEm($mobileSmall)){
				padding: 77px 20px 30px;
			}
		}

		// .popup-form__wrapper
		&__wrapper {
			transition: opacity .3s ease, visibility .3s ease;
			// opacity: 0;
			// pointer-events: none;
			.--form-sent & {
				opacity: 0;
				pointer-events: none;
				visibility: hidden;
			}
		}

		// .popup-form__head
		&__head {
			text-align: center;
			margin-bottom: 40px;
			@media (min-width:toEm(820.98)){
				text-align: left;
				margin-bottom: 70px;
			}
		}

		// .popup-form__title
		&__title {
			font-weight: 600;
			font-size: 34px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			margin-bottom: 6px;
			@media (min-width:toEm($mobileSmall)){
				margin-bottom: 24px;
				font-size: 40px;
			}
		}

		// .popup-form__subtitle
		&__subtitle {
				font-size: 24px;
				line-height: 1.2;
				letter-spacing: 0.01em;
		}

		// .popup-form__form
		&__form {
			&.--sending {
				.popup-form__send {
					pointer-events: none;
					opacity: 0.5;
				}
			}
		}

		// .popup-form__items
		&__items {
			display: grid;
			gap: 28px;
			margin-bottom: 44px;
			@media (min-width:toEm(600.98)){
				gap: 20px;
				grid-template-columns: repeat(3,1fr);
			}
		}

		// .popup-form__item
		&__item {
			textarea {
				padding: 10px 10px 10px 0;
			}
		}

		// .popup-form__label
		&__label {
			font-size: 16px;
			line-height: 1.2;
			color: #000;
		}

		&__send {
			margin-top: 73px;
			min-width: 184px;
			margin-inline: auto;
			@media (min-width:toEm(820.98)){
				margin-inline: 0;
			}
			@media (min-width:toEm($mobileSmall)){
				min-width: 250px;
			}
		}

		// .popup-form__msg
		&__msg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: opacity .3s ease, visibility .3s ease;
			.--form-sent & {
				visibility: visible;
				opacity: 1;
			}

			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;


		}

		// .popup-form__msg-t
		&__msg-t {
			font-weight: 600;
			font-size: 50px;
			line-height: 1;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 48px;
			@media (min-width:toEm($mobileSmall)){
				 margin-bottom: 26px; 
			}
		}

		// .popup-form__msg-subt
		&__msg-subt {
			font-weight: 400;
			font-size: 24px;
			line-height: 1.2;
			letter-spacing: 0.01em;
			text-align: center;
			margin-inline: auto;
			max-width: 306px;
			@media (min-width:toEm($mobileSmall)){
				font-size: 28px;
				max-width: 418px;
			}
			br {
				display: block;
				@media (min-width:toEm($mobileSmall)){
					 display: none; 
				}
			}
		}

		// .popup-form__img
		&__img {
			display: none;
			@media (min-width:toEm(820.98)){
				display: block;
			}
			img {
				position: relative;
				top: -10%;
				right: -5%;
			}
		}
}


.popup-product {
		// .popup-product__content
		&__content {



			padding: 60px 37px 70px;
			position: relative;
			z-index: 2;
			display: grid;
			
			@media (min-width:toEm(1200.98)){
				grid-template-columns: 55% 1fr;
				padding: 74px 74px 70px 105px;
				gap: 40px;
			}
			@media (max-width: toEm(1200.98)) and (min-width:toEm(992.98)) {
				padding: 60px;
				grid-template-columns: 570px 1fr;
			}
			@media (min-width:toEm(820.98)){
			}
		}

		// .popup-product__body
		&__body {
			position: relative;
			z-index: 2;
			display: flex;
			flex-direction: column;
		}

		// .popup-product__head
		&__head {
			font-weight: 700;
			letter-spacing: 0.04em;
			line-height: 1.2;
			text-transform: uppercase;
			margin-bottom: 20px;
			text-align: center; 
			@media (min-width:toEm($tablet)){
				max-width: 550px;
				margin-bottom: 18px;
				 text-align: left; 
			}
			@media (max-width:toEm($tablet)){
				text-wrap: balance;
			}
		}

		// .popup-product__bottom
		&__bottom {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;	
			margin-bottom: 40px;
			@media (min-width:toEm($tablet)){
				margin-bottom: 0px;
				 margin-top: 34px;
			}
		}

		// .popup-product__title
		&__title {
			font-size: 30px;
			@media (max-width:toEm($tablet)){
				 margin-bottom: 10px; 
			}
		}

		// .popup-product__subtitle
		&__subtitle {
			font-size: 20px;
			@media (min-width:toEm($mobileSmall)){
				 font-size: 24px; 
			}
		}

		// .popup-product__description
		&__description {
			font-size: 16px;
			line-height: 1.2;
			letter-spacing: 0.01em;
			margin-bottom: 40px;
			text-align: center;
			max-width: 550px;
			@media (min-width:toEm($tablet)){
				 margin-bottom: 34px; 
				 text-align: left;
			}
			@media (max-width:toEm($tablet)){
				max-width: 600px;
				margin-inline: auto;
			}
		}

		// .popup-product__btn
		&__btn {
			min-width: 195px;
			margin-inline: auto;
			@media (min-width:toEm($tablet)){
				 margin-inline: 0; 
			}
		}

		// .popup-product__block-1
		&__block-1 {
			font-size: 17px;
			line-height: 1.2;
			letter-spacing: 0.01em;
			font-size: 18px;
			margin-bottom: 30px;
			.popup-product__info {
				margin-bottom: 10px;
			}
			text-align: center;
			@media (min-width:toEm($tablet)){
				 text-align: left;
			}
		}

		// .popup-product__info
		&__info {
			white-space: nowrap;
			font-weight: 600;
			font-size: 18px;
			text-align: center; 
			@media (min-width:toEm($tablet)){
				 text-align: left; 
			}
		}

		// .popup-product__text
		&__text {
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}

		// .popup-product__block-2
		&__block-2 {
			display: grid;
			gap: 10px;
			@media (min-width:toEm($tablet)){
				gap: 8px;
				align-items: center;
				grid-template-columns: auto 1fr;
			}
		}
		
		// .popup-product__boxes
		&__boxes {
			display: flex;
			gap: 18px;
			@media (max-width: toEm(1200.98)){
				flex-wrap: wrap;
			}
			@media (min-width:toEm($tablet)){
				align-items: center;
			}
			@media (max-width:toEm($tablet)){
				flex-direction: column;
				max-width: max-content;
				margin-inline: auto;
			}
		}

		// .popup-product__box
		&__box {
			line-height: 1.2;
			letter-spacing: 0.01em;
			font-size: 14px;
			display: grid;
			align-items: center;
			grid-template-columns: 60px auto;
			grid-template-rows: auto auto;
			gap: 3px 9px;
		}

		// .popup-product__box-img
		&__box-img {
			grid-column: 1/2;
			grid-row: 1/3;
			width: 60px;
			height: auto;
		}

		// .popup-product__box-t
		&__box-t {
			font-weight: 600;
			grid-column: 2/3;
			grid-row: 1/2;
			align-self: flex-end;
		}
		
		// .popup-product__box-c
		&__box-c {
			grid-column: 2/3;
			grid-row: 2/3;
			align-self: flex-start;
			// text-wrap: balance;
			white-space: nowrap;
		}

		// .popup-product__image
		&__image {
			position: relative;
			// z-index: 1;
			max-height: 490px;
			min-height: 225px;
			margin-bottom: 20px;
			@media (min-width:toEm($tablet)){
				margin-bottom: 0px;
				min-height: 490px;
			}
			&:before {
				content:'';
				position: absolute;
				z-index: -1;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 700px;
				aspect-ratio: 375/487;
				@media (max-width: toEm(1200.98)) and (min-width:toEm($tablet)) {
					width: 50vw;
				}
				@media (min-width:toEm($mobileSmall)){
					aspect-ratio: 700/489;
				}
				@media (max-width:toEm($mobileSmall)){
					 width: 140%; 
				}
				.page-bonisano & {
					background: radial-gradient(50% 50% at 50% 50%, #fff 0%, var(--yellow) 100%);
				}
				.page-elly & {
					background: radial-gradient(50% 50% at 50% 50%, #fff 0%, var(--blue) 100%);
				}
				.page-molinero & {
					background: radial-gradient(50% 50% at 50% 50%, #fff 0%, var(--orange) 100%);
				}
			}
		}
}
