// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення CSS-змінних
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@use "includes/variables.css";

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення загальних віддалених шрифтів (Google Fonts)
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стилі тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
	min-width: #{$minWidth}px;
	color: var(--primary);
	font-family: $fontFamily;
	font-size: #{$fontSize}px;

	// Скролл заблоковано
	[data-fls-scrolllock] & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	[data-fls-loaded] & {
	}
}

// FILTER

// #633510
// filter: invert(20%) sepia(57%) saturate(971%) hue-rotate(351deg) brightness(93%) contrast(92%);

// #FFF1D5
// filter: invert(93%) sepia(14%) saturate(666%) hue-rotate(321deg) brightness(103%) contrast(102%);

* {
	@media (min-width:toEm($mobileSmall)){
    &::-webkit-scrollbar {
      width: 6px;
    }
    
    &::-webkit-scrollbar-track {
      background-color: transparent; 
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: var(--primary);
    }
	}
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;

	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}

[class*="__container"] {
	width: 100%;
	max-width: 1120px;
	padding-inline: 20px;
	margin-inline: auto;
}

.ibg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	&--cn {
		object-fit: contain;
	}
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  // color: var(--primary);
  @media (min-width:toEm($mobileSmall)){
    font-size: 48px;
  }
}
.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  // color: var(--primary);
  @media (min-width:toEm($mobileSmall)){
    font-size: 24px;
  }
}


.bg--a {
  background-color: var(--yellow-2);
}

.trans--1 {
	opacity: 0;
	transform: translate(0%,50%);
	transition: opacity .45s ease, transform .75s ease;
	.--view & {
		transform: translate(0%,0%);
		opacity: 1;
	}
}
.trans--2 {
	opacity: 0;
	transition: opacity .45s ease;
	.--view & {
		opacity: 1;
	}
	&.--view {
		opacity: 1;
	}
}

.trans--3 {
	&.--view {
		img {
			transform: translate(0%,0%);
			opacity: 1;
		}
	}
	img {
		opacity: 0;
		transform: translate(20%,0%);
		transition: opacity .45s ease, transform .75s ease;
	}
}

[data-fls-marquee-inner]{
	// overflow: hidden;
}
.trans--4 {

	.--view & {
		
	}
}

