<section data-fls-hero class="prod-hero">
  <div class="prod-hero__img">
    <picture>
      <source media="(max-width: 30.186em)" srcset="@img/molinero/molinero-mb.webp" type="image/webp">
      <img data-img-ignore fetchpriority="high" src="@img/molinero/molinero-pc.webp" width="375" height="784" alt="Image">
    </picture>
  </div>
  <div class="prod-hero__container">
    <a href="#" data-fls-golink="products" data-fls-button class="prod-hero__link btn btn--a" aria-label="link">
      <span>Асортимент</span>
    </a>
    <div class="prod-hero__head">
      <h1 class="prod-hero__title title">
        Molinero
      </h1>
      <div class="prod-hero__subtitle subtitle">
        <p>TM Molinero — орієнтована на створення преміальних вафельних продуктів, що поєднують традиційні рецепти, європейську якість та сучасні смакові уподобання. Це вафельний бренд, який задає стандарти.
        </p>
        <br>
        <p>Європейське бачення якості та витонченого смаку, сучасне виробництво і наша любов до досконалості — роблять нас лідерами у світі вафельної продукції.</p>
      </div>
    </div>
  </div>
</section>

<section data-goid="products" data-fls-products class="products">
  <div class="products__container">
    <div class="products__list">

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/molinero/molinero-1-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/molinero/molinero-1-pc.webp" width="284" height="364" alt="Вафлі кокос">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Molinero</div>
            <h3 class="product-card__title">
              ВАФЛІ КОКОС
            </h3>
            <div class="product-card__text">
              ВАФЛІ, ТМ «MOLINERO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">200 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>ВАФЛІ КОКОС</div>
          <div data-prod-subtitle>ВАФЛІ, ТМ «MOLINERO»</div>
          <div data-prod-description>
            Хрумкі та ніжні вафельки, з вишуканою начинкою. У преміальній упаковці. Кожен шматочок – це момент насолоди, створений для тих, хто цінує якість та бездоганний смак.
          </div>
          <div data-prod-weight>200 г</div>
          <div data-prod-shelf-life>9 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>2,00 кг (10 упаковок)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/molinero/molinero-2-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/molinero/molinero-2-pc.webp" width="284" height="364" alt="Вафлі шоколад">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Molinero</div>
            <h3 class="product-card__title">
              ВАФЛІ ШОКОЛАД
            </h3>
            <div class="product-card__text">
              ВАФЛІ, ТМ «MOLINERO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">200 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>ВАФЛІ ШОКОЛАД</div>
          <div data-prod-subtitle>ВАФЛІ, ТМ «MOLINERO»</div>
          <div data-prod-description>
            Хрумкі та ніжні вафельки, з вишуканою начинкою. У преміальній упаковці. Кожен шматочок – це момент насолоди, створений для тих, хто цінує якість та бездоганний смак.
          </div>
          <div data-prod-weight>200 г</div>
          <div data-prod-shelf-life>9 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>2,00 кг (10 упаковок)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/molinero/molinero-3-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/molinero/molinero-3-pc.webp" width="284" height="364" alt="Вафлі солона карамель">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Molinero</div>
            <h3 class="product-card__title">
              ВАФЛІ СОЛОНА КАРАМЕЛЬ
            </h3>
            <div class="product-card__text">
              ВАФЛІ, ТМ «MOLINERO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">200 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>ВАФЛІ СОЛОНА КАРАМЕЛЬ</div>
          <div data-prod-subtitle>ВАФЛІ, ТМ «MOLINERO»</div>
          <div data-prod-description>
            Хрумкі та ніжні вафельки, з вишуканою начинкою. У преміальній упаковці. Кожен шматочок – це момент насолоди, створений для тих, хто цінує якість та бездоганний смак.
          </div>
          <div data-prod-weight>200 г</div>
          <div data-prod-shelf-life>9 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>2,00 кг (10 упаковок)</div>
            </div>
          </div>
        </div>
      </article>

       <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/molinero/molinero-5-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/molinero/molinero-5-pc.webp" width="284" height="364" alt="Вафельні трубочки какао &amp; фундук">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Molinero</div>
            <h3 class="product-card__title">
              ВАФЕЛЬНІ ТРУБОЧКИ КАКАО &amp; ФУНДУК
            </h3>
            <div class="product-card__text">
              ВАФЕЛЬНІ ТРУБОЧКИ, ТМ «MOLINERO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">140 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>ВАФЕЛЬНІ ТРУБОЧКИ КАКАО &amp; ФУНДУК</div>
          <div data-prod-subtitle>ВАФЕЛЬНІ ТРУБОЧКИ, ТМ «MOLINERO»</div>
          <div data-prod-description>
            Хрумкі вафельні трубочки з ніжною начинкою, в асортименті. В преміальній упаковці. Європейська якість вироблена в Україні.
          </div>
          <div data-prod-weight>140 г</div>
          <div data-prod-shelf-life>12 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>4,48 кг (32 кор.)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/molinero/molinero-4-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/molinero/molinero-4-pc.webp" width="284" height="364" alt="Вафлі молоко &amp; ваніль">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Molinero</div>
            <h3 class="product-card__title">
              ВАФЛІ МОЛОКО &amp; ВАНІЛЬ
            </h3>
            <div class="product-card__text">
              ВАФЛІ, ТМ «MOLINERO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">200 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>ВАФЛІ МОЛОКО &amp; ВАНІЛЬ</div>
          <div data-prod-subtitle>ВАФЛІ, ТМ «MOLINERO»</div>
          <div data-prod-description>
            Хрумкі та ніжні вафельки, з вишуканою начинкою. У преміальній упаковці. Кожен шматочок – це момент насолоди, створений для тих, хто цінує якість та бездоганний смак.
          </div>
          <div data-prod-weight>200 г</div>
          <div data-prod-shelf-life>9 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>2,00 кг (10 упаковок)</div>
            </div>
          </div>
        </div>
      </article>

     

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/molinero/molinero-6-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/molinero/molinero-6-pc.webp" width="284" height="364" alt="Вафельні трубочки кокос">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Molinero</div>
            <h3 class="product-card__title">
              ВАФЕЛЬНІ ТРУБОЧКИ КОКОС
            </h3>
            <div class="product-card__text">
              ВАФЕЛЬНІ ТРУБОЧКИ, ТМ «MOLINERO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">140 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>ВАФЕЛЬНІ ТРУБОЧКИ КОКОС</div>
          <div data-prod-subtitle>ВАФЕЛЬНІ ТРУБОЧКИ, ТМ «MOLINERO»</div>
          <div data-prod-description>
            Хрумкі вафельні трубочки з ніжною начинкою, в асортименті. В преміальній упаковці. Європейська якість вироблена в Україні.
          </div>
          <div data-prod-weight>140 г</div>
          <div data-prod-shelf-life>12 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>4,48 кг (32 кор.)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/molinero/molinero-7-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/molinero/molinero-7-pc.webp" width="284" height="364" alt="Вафельні трубочки пряжене молоко">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Molinero</div>
            <h3 class="product-card__title">
              ВАФЕЛЬНІ ТРУБОЧКИ ПРЯЖЕНЕ МОЛОКО
            </h3>
            <div class="product-card__text">
              ВАФЕЛЬНІ ТРУБОЧКИ, ТМ «MOLINERO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">140 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>ВАФЕЛЬНІ ТРУБОЧКИ ПРЯЖЕНЕ МОЛОКО</div>
          <div data-prod-subtitle>ВАФЕЛЬНІ ТРУБОЧКИ, ТМ «MOLINERO»</div>
          <div data-prod-description>
            Хрумкі вафельні трубочки з ніжною начинкою, в асортименті. В преміальній упаковці. Європейська якість вироблена в Україні.
          </div>
          <div data-prod-weight>140 г</div>
          <div data-prod-shelf-life>12 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>4,48 кг (32 кор.)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/molinero/molinero-8-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/molinero/molinero-8-pc.webp" width="284" height="364" alt="Вафельні трубочки солона карамель">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Molinero</div>
            <h3 class="product-card__title">
              ВАФЕЛЬНІ ТРУБОЧКИ СОЛОНА КАРАМЕЛЬ
            </h3>
            <div class="product-card__text">
              ВАФЕЛЬНІ ТРУБОЧКИ, ТМ «MOLINERO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">140 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>ВАФЕЛЬНІ ТРУБОЧКИ СОЛОНА КАРАМЕЛЬ</div>
          <div data-prod-subtitle>ВАФЕЛЬНІ ТРУБОЧКИ, ТМ «MOLINERO»</div>
          <div data-prod-description>
            Хрумкі вафельні трубочки з ніжною начинкою, в асортименті. В преміальній упаковці. Європейська якість вироблена в Україні.
          </div>
          <div data-prod-weight>140 г</div>
          <div data-prod-shelf-life>12 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>4,48 кг (32 кор.)</div>
            </div>
          </div>
        </div>
      </article>

    </div>
  </div>
</section>

<section data-goid="brands" data-fls-brands class="home-brands">
  <div class="home-brands__container">
    <div data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="1" class="home-brands__head">
      <h2 class="home-brands__title title trans--1">
        НАШІ БРЕНДИ
      </h2>
      <div class="home-brands__subtitle subtitle trans--1">
        <p>Наші бренди — це різні історії та емоції, які обʼєднує спільна цінність: якість, довіра та натхнення для наших клієнтів.</p>
      </div>
    </div>
  </div>
  <div class="home-brands__body">
    <div class="home-brands__nav __container">
      <button type="button" class="home-brands__btn swiper-button-prev swiper-button" aria-label="prev">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M26.5 29L21.5 24L26.5 19" stroke="#633510" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <button type="button" class="home-brands__btn swiper-button-next swiper-button" aria-label="next">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.5 19L26.5 24L21.5 29" stroke="#633510" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="home-brands__container">
      <div data-fls-slider class="home-brands__slider swiper">
         <div class="home-brands__wrapper swiper-wrapper">
          <div class="home-brands__slide swiper-slide">
            <a href="elly.html" class="home-brands__slide-body" aria-label="link">
              <div class="home-brands__brand">
                <img class="home-brands__mask" data-img-ignore loading="lazy" src="@img/brands/brand-mask-1.svg" width="375" height="784" alt="Image">
                <img data-img-ignore loading="lazy" class="home-brands__img" src="@img/brands/brand-1.webp" width="375" height="784" alt="Image">
              </div>
              <div class="home-brands__name">
                <p>Elly</p>
              </div>
            </a>
          </div>
          <div class="home-brands__slide swiper-slide">
            <a href="molinero.html" class="home-brands__slide-body" aria-label="link">
              <div class="home-brands__brand">
                <img class="home-brands__mask" data-img-ignore loading="lazy" src="@img/brands/brand-mask-2.svg" width="375" height="784" alt="Image">
                <img data-img-ignore loading="lazy" class="home-brands__img" src="@img/brands/brand-2.webp" width="375" height="784" alt="Image">
              </div>
              <div class="home-brands__name">
                <p>Molinero</p>
              </div>
            </a>
          </div>
          <div class="home-brands__slide swiper-slide">
            <a href="bonisano.html" class="home-brands__slide-body" aria-label="link">
              <div class="home-brands__brand">
                <img class="home-brands__mask" data-img-ignore loading="lazy" src="@img/brands/brand-mask-3.svg" width="375" height="784" alt="Image">
                <img data-img-ignore loading="lazy" class="home-brands__img" src="@img/brands/brand-3.webp" width="375" height="784" alt="Image">
              </div>
              <div class="home-brands__name">
                <p>BoniSano</p>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>