<header data-fls-header data-lenis-prevent="false" class="header">
	<div class="header__container">
		<div class="header__body">
			<div class="header__nav">
				<ul class="header__list">
					<li class="header__item">
						<a href="index" class="header__link" aria-label="to main page">Головна</a>
					</li>
					<li class="header__item">
						<a href="#" data-fls-golink="brands" class="header__link" aria-label="nove to katalog">каталог товарів</a>
					</li>
				</ul>
				<a href="index" class="header__logo" aria-label="to main page">
					<img src="@img/logos/logo.svg" fetchpriority="high" width="131" height="112" alt="logo Sweet Bakers">
				</a>
				<ul class="header__list">
					<li class="header__item">
						<a href="#" data-fls-popup-link="popup-form" class="header__link" aria-label="open popup with contact form">написати нам</a>
					</li>
					<li class="header__item">
						<a href="tel:+380678945678" class="header__link header__link--big" aria-label="call to us">+38 067 894 56 78</a>
					</li>
				</ul>
			</div>
			<button type="button" data-menu class="menu-header__icon icon-menu" aria-label="open menu">
				<span></span>
			</button>
		</div>
		<div class="header__menu menu-header">
			<div class="menu-header__body">
				<nav class="menu-header__nav">
					<ul class="menu-header__list">
						<li class="menu-header__item menu-has-sublist">
							<a href="" class="menu-header__link" aria-label="open submenu">Каталог товарів</a>
							<ul data-submenu-open class="menu-header__submenu submenu">
								<li class="submenu__item">
									<a href="elly.html" class="submenu__link" aria-label="link to product">Elly</a>
								</li>
								<li class="submenu__item">
									<a href="bonisano.html" class="submenu__link" aria-label="link to product">Boni Sano</a>
								</li>
								<li class="submenu__item">
									<a href="molinero.html" class="submenu__link" aria-label="link to product">Molinero</a>
								</li>
							</ul>
						</li>
						<li class="menu-header__item">
							<a href="index.html#about" data-fls-golink="about" class="menu-header__link" aria-label="open link">Про нас</a>
						</li>
						<li class="menu-header__item">
							<a href="index.html#partnership" data-fls-golink="partnership" class="menu-header__link" aria-label="open link">Співпраця</a>
						</li>
					</ul>
				</nav>
				<div class="menu-header__footer">
					<div class="menu-header__manager manager-header">
						<div class="manager-header__img">
							<img src="@img/team/manager.jpg" width="130" height="130" alt="Image">
						</div>
						<div class="manager-header__body">
							<div class="manager-header__top">
								<div class="manager-header__name">
									<p>Ольга Остапенко</p>
								</div>
								<div class="manager-header__position">
									<p>Ваш менеджер</p>
								</div>
							</div>
							<a href="tel:+380678945678" class="manager-header__phone" aria-label="call">+38(067)-894-56-78</a>
							<a href="tel:+380678945678" class="manager-header__mail" aria-label="mail">Info@sweetbakers.com</a>
						</div>
					</div>
					<a href="#" data-fls-popup-link="popup-form" data-fls-button class="menu-header__btn btn btn--a" aria-label="open popup contact form">
							<span>Зв'язатися</span>
					</a>
					<ul class="menu-header__social social-header">
						<li class="social-header__item">
							<a href="#" class="social-header__link">
								<img src="@img/icons/fb.svg" width="28" height="28" alt="Image">
							</a>
						</li>
						<li class="social-header__item">
							<a href="#" class="social-header__link">
								<img src="@img/icons/tt.svg" width="28" height="28" alt="Image">
							</a>
						</li>
						<li class="social-header__item">
							<a href="#" class="social-header__link">
								<img src="@img/icons/insta.svg" width="28" height="28" alt="Image">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>