<section data-fls-hero class="prod-hero">
  <div class="prod-hero__img">
    <picture>
      <source media="(max-width: 30.186em)" srcset="@img/boni/boni-mb.webp" type="image/webp">
      <img data-img-ignore fetchpriority="high" src="@img/boni/boni-pc.webp" width="375" height="784" alt="Image">
    </picture>
  </div>
  <div class="prod-hero__container">
    <a href="#" data-fls-golink="products" data-fls-button class="prod-hero__link btn btn--a" aria-label="link">
      <span>Асортимент</span>
    </a>
    <div class="prod-hero__head">
      <h1 class="prod-hero__title title">
        Boni sano
      </h1>
      <div class="prod-hero__subtitle subtitle">
        <p>ТМ Boni Sano - це бренд печива, що поєднує відмінний смак і стабільну якість. Хрусткі, ароматні та різноманітні позиції для перекусу вдома, в дорозі чи на роботі. Збалансовані рецептури, зрозумілий склад і улюблені смаки для всієї родини.
        </p>
        <br>
        <p><b>Boni Sano — смачно щодня.</b></p>
      </div>
    </div>
  </div>
</section>

<section data-goid="products" data-fls-products class="products">
  <div class="products__container">
    <div class="products__list">
     
      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/boni/bonisamo-1-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/boni/bonisamo-1-pc.webp" width="284" height="364" alt="Fantuci зі смаком Вишні">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">BoniSano</div>
            <h3 class="product-card__title">
              FANTUCI ЗІ СМАКОМ ВИШНІ
            </h3>
            <div class="product-card__text">
              ВИРОБИ КОНДИТЕРСЬКІ, ТМ «BONI SANO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">300 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>FANTUCI ЗІ СМАКОМ ВИШНІ</div>
          <div data-prod-subtitle>ВИРОБИ КОНДИТЕРСЬКІ, ТМ «BONI SANO»</div>
          <div data-prod-description>
            Кондитерський виріб з ніжним конфітюром, який надає десерту особливої родзинки. Це знайомий і улюблений традиційний смак у сучасній інтерпретації. Стильний та якісний дизайн пакування підкреслює оновлений характер продукту й робить його
            привабливим для щоденного задоволення.
          </div>
          <div data-prod-weight>300 г</div>
          <div data-prod-shelf-life>6 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>2,4 кг (8 штук)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/boni/bonisamo-2-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/boni/bonisamo-2-pc.webp" width="284" height="364" alt="Fantuci зі смаком Абрикосу">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">BoniSano</div>
            <h3 class="product-card__title">
              FANTUCI ЗІ СМАКОМ АБРИКОСУ
            </h3>
            <div class="product-card__text">
              ВИРОБИ КОНДИТЕРСЬКІ, ТМ «BONI SANO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">300 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>FANTUCI ЗІ СМАКОМ АБРИКОСУ</div>
          <div data-prod-subtitle>ВИРОБИ КОНДИТЕРСЬКІ, ТМ «BONI SANO»</div>
          <div data-prod-description>
            Кондитерський виріб з ніжним конфітюром, який надає десерту особливої родзинки. Це знайомий і улюблений традиційний смак у сучасній інтерпретації. Стильний та якісний дизайн пакування підкреслює оновлений характер продукту й робить його
            привабливим для щоденного задоволення.
          </div>
          <div data-prod-weight>300 г</div>
          <div data-prod-shelf-life>6 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>2,4 кг (8 штук)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/boni/bonisamo-3-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/boni/bonisamo-3-pc.webp" width="284" height="364" alt="Fantuci зі смаком Малини">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">BoniSano</div>
            <h3 class="product-card__title">
              FANTUCI ЗІ СМАКОМ МАЛИНИ
            </h3>
            <div class="product-card__text">
              ВИРОБИ КОНДИТЕРСЬКІ, ТМ «BONI SANO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">300 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>FANTUCI ЗІ СМАКОМ МАЛИНИ</div>
          <div data-prod-subtitle>ВИРОБИ КОНДИТЕРСЬКІ, ТМ «BONI SANO»</div>
          <div data-prod-description>
            Кондитерський виріб з ніжним конфітюром, який надає десерту особливої родзинки. Це знайомий і улюблений традиційний смак у сучасній інтерпретації. Стильний та якісний дизайн пакування підкреслює оновлений характер продукту й робить його
            привабливим для щоденного задоволення.
          </div>
          <div data-prod-weight>300 г</div>
          <div data-prod-shelf-life>6 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>2,4 кг (8 штук)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/boni/bonisamo-4-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/boni/bonisamo-4-pc.webp" width="284" height="364" alt="Fantuci зі смаком Смородини">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">BoniSano</div>
            <h3 class="product-card__title">
              FANTUCI ЗІ СМАКОМ СМОРОДИНИ
            </h3>
            <div class="product-card__text">
              ВИРОБИ КОНДИТЕРСЬКІ, ТМ «BONI SANO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">300 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>FANTUCI ЗІ СМАКОМ СМОРОДИНИ</div>
          <div data-prod-subtitle>ВИРОБИ КОНДИТЕРСЬКІ, ТМ «BONI SANO»</div>
          <div data-prod-description>
            Кондитерський виріб з ніжним конфітюром, який надає десерту особливої родзинки. Це знайомий і улюблений традиційний смак у сучасній інтерпретації. Стильний та якісний дизайн пакування підкреслює оновлений характер продукту й робить його
            привабливим для щоденного задоволення.
          </div>
          <div data-prod-weight>300 г</div>
          <div data-prod-shelf-life>6 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>2,4 кг (8 штук)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/boni/bonisamo-5-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/boni/bonisamo-5-pc.webp" width="284" height="364" alt="Добре зерно">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">BoniSano</div>
            <h3 class="product-card__title">
              ДОБРЕ ЗЕРНО
            </h3>
            <div class="product-card__text">
              ПЕЧИВО ЗДОБНЕ ЛИСТКОВЕ, ТМ «BONI SANO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">28 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>ДОБРЕ ЗЕРНО</div>
          <div data-prod-subtitle>ПЕЧИВО ЗДОБНЕ ЛИСТКОВЕ, ТМ «BONI SANO»</div>
          <div data-prod-description>
            Печиво з корисними інгредієнтами, зручний формат “To Go”. Стильний та якісний дизайн пакування.
          </div>
          <div data-prod-weight>28 г</div>
          <div data-prod-shelf-life>6 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>364 г (13 штук)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/boni/bonisamo-6-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/boni/bonisamo-6-pc.webp" width="284" height="364" alt="Корисне зернове">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">BoniSano</div>
            <h3 class="product-card__title">
              КОРИСНЕ ЗЕРНОВЕ
            </h3>
            <div class="product-card__text">
              ПЕЧИВО ЗДОБНЕ, ТМ «BONI SANO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">40 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>КОРИСНЕ ЗЕРНОВЕ</div>
          <div data-prod-subtitle>ПЕЧИВО ЗДОБНЕ, ТМ «BONI SANO»</div>
          <div data-prod-description>
            Печиво з корисними інгредієнтами, зручний формат “To Go”. Стильний та якісний дизайн пакування.
          </div>
          <div data-prod-weight>40 г</div>
          <div data-prod-shelf-life>4 місяці</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>560 г (14 штук)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/boni/bonisamo-7-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/boni/bonisamo-7-pc.webp" width="284" height="364" alt="З кокосом та вівсяними пластівцями">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">BoniSano</div>
            <h3 class="product-card__title">
              З КОКОСОМ ТА ВІВСЯНИМИ ПЛАСТІВЦЯМИ
            </h3>
            <div class="product-card__text">
              ПЕЧИВО ЗДОБНЕ, ТМ «BONI SANO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">35 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>З КОКОСОМ ТА ВІВСЯНИМИ ПЛАСТІВЦЯМИ</div>
          <div data-prod-subtitle>ПЕЧИВО ЗДОБНЕ, ТМ «BONI SANO»</div>
          <div data-prod-description>
            Печиво з корисними інгредієнтами, зручний формат “To Go”. Стильний та якісний дизайн пакування.
          </div>
          <div data-prod-weight>35 г</div>
          <div data-prod-shelf-life>6 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>560 г (16 штук)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/boni/bonisamo-9-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/boni/bonisamo-9-pc.webp" width="284" height="364" alt="Rodeo із начинкою зі смаком ванілі">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">BoniSano</div>
            <h3 class="product-card__title">
              RODEO ЗІ СМАКОМ ВАНІЛІ
            </h3>
            <div class="product-card__text">
              ПЕЧИВО-СЕНДВІЧ, ТМ «BONI SANO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">60 г / 120 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>RODEO ЗІ СМАКОМ ВАНІЛІ</div>
          <div data-prod-subtitle>ПЕЧИВО-СЕНДВІЧ, ТМ «BONI SANO»</div>
          <div data-prod-description>
            Печиво-сендвіч у трьох стильних кольорах — чорному, чорно-білому та білому — з ніжними начинками ванілі, вишні та банана. Унікальність продукту поєднує яскраві смаки та сучасний дизайн пакування. Оригінальне оформлення перетворює вибір
            печива на захопливу гру для малечі — хочеться зібрати всю колекцію упаковок із різними машинками.
          </div>
          <div data-prod-weight>60 г / 120 г</div>
          <div data-prod-shelf-life>9 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>720 г (12 штук × 60 г)</div>
            </div>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>1080 г (9 штук × 120 г)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/boni/bonisamo-8-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/boni/bonisamo-8-pc.webp" width="284" height="364" alt="П’ять злаків">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">BoniSano</div>
            <h3 class="product-card__title">
              П’ЯТЬ ЗЛАКІВ
            </h3>
            <div class="product-card__text">
              ПЕЧИВО ЗДОБНЕ, ТМ «BONI SANO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">30 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>П’ЯТЬ ЗЛАКІВ</div>
          <div data-prod-subtitle>ПЕЧИВО ЗДОБНЕ, ТМ «BONI SANO»</div>
          <div data-prod-description>
            Печиво з корисними інгредієнтами, зручний формат “To Go”. Стильний та якісний дизайн пакування.
          </div>
          <div data-prod-weight>30 г</div>
          <div data-prod-shelf-life>4 місяці</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>540 г (18 штук)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/boni/bonisamo-10-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/boni/bonisamo-10-pc.webp" width="284" height="364" alt="Rodeo із начинкою зі смаком вишні">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">BoniSano</div>
            <h3 class="product-card__title">
              RODEO ЗІ СМАКОМ ВИШНІ
            </h3>
            <div class="product-card__text">
              ПЕЧИВО-СЕНДВІЧ, ТМ «BONI SANO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">60 г / 120 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>RODEO ЗІ СМАКОМ ВИШНІ</div>
          <div data-prod-subtitle>ПЕЧИВО-СЕНДВІЧ, ТМ «BONI SANO»</div>
          <div data-prod-description>
            Печиво-сендвіч у трьох стильних кольорах — чорному, чорно-білому та білому — з ніжними начинками ванілі, вишні та банана. Унікальність продукту поєднує яскраві смаки та сучасний дизайн пакування. Оригінальне оформлення перетворює вибір
            печива на захопливу гру для малечі — хочеться зібрати всю колекцію упаковок із різними машинками.
          </div>
          <div data-prod-weight>60 г / 120 г</div>
          <div data-prod-shelf-life>9 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>720 г (12 штук × 60 г)</div>
            </div>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>1080 г (9 штук × 120 г)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/boni/bonisamo-10-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/boni/bonisamo-10-pc.webp" width="284" height="364" alt="Rodeo із начинкою зі смаком банану">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">BoniSano</div>
            <h3 class="product-card__title">
              RODEO ЗІ СМАКОМ БАНАНУ
            </h3>
            <div class="product-card__text">
              ПЕЧИВО-СЕНДВІЧ, ТМ «BONI SANO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">60 г / 120 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>RODEO ЗІ СМАКОМ БАНАНУ</div>
          <div data-prod-subtitle>ПЕЧИВО-СЕНДВІЧ, ТМ «BONI SANO»</div>
          <div data-prod-description>
            Печиво-сендвіч у трьох стильних кольорах — чорному, чорно-білому та білому — з ніжними начинками ванілі, вишні та банана. Унікальність продукту поєднує яскраві смаки та сучасний дизайн пакування. Оригінальне оформлення перетворює вибір
            печива на захопливу гру для малечі — хочеться зібрати всю колекцію упаковок із різними машинками.
          </div>
          <div data-prod-weight>60 г / 120 г</div>
          <div data-prod-shelf-life>9 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>720 г (12 штук × 60 г)</div>
            </div>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>1080 г (9 штук × 120 г)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/boni/bonisamo-10-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/boni/bonisamo-10-pc.webp" width="284" height="364" alt="Rodeo із начинкою зі смаком банану">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">BoniSano</div>
            <h3 class="product-card__title">
              RODEO ЗІ СМАКОМ БАНАНУ
            </h3>
            <div class="product-card__text">
              ПЕЧИВО-СЕНДВІЧ, ТМ «BONI SANO»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">60 г / 120 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>RODEO ЗІ СМАКОМ БАНАНУ</div>
          <div data-prod-subtitle>ПЕЧИВО-СЕНДВІЧ, ТМ «BONI SANO»</div>
          <div data-prod-description>
            Печиво-сендвіч у трьох стильних кольорах — чорному, чорно-білому та білому — з ніжними начинками ванілі, вишні та банана. Унікальність продукту поєднує яскраві смаки та сучасний дизайн пакування. Оригінальне оформлення перетворює вибір
            печива на захопливу гру для малечі — хочеться зібрати всю колекцію упаковок із різними машинками.
          </div>
          <div data-prod-weight>60 г / 120 г</div>
          <div data-prod-shelf-life>9 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>720 г (12 штук × 60 г)</div>
            </div>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>1080 г (9 штук × 120 г)</div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<section data-goid="brands" data-fls-brands  class="home-brands">
  <div class="home-brands__container">
    <div data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="1" class="home-brands__head">
      <h2 class="home-brands__title title trans--1">
        НАШІ БРЕНДИ
      </h2>
      <div class="home-brands__subtitle subtitle trans--1">
        <p>Наші бренди — це різні історії та емоції, які обʼєднує спільна цінність: якість, довіра та натхнення для наших клієнтів.</p>
      </div>
    </div>
  </div>
  <div class="home-brands__body">
    <div class="home-brands__nav __container">
      <button type="button" class="home-brands__btn swiper-button-prev swiper-button" aria-label="prev">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M26.5 29L21.5 24L26.5 19" stroke="#633510" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <button type="button" class="home-brands__btn swiper-button-next swiper-button" aria-label="next">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.5 19L26.5 24L21.5 29" stroke="#633510" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="home-brands__container">
      <div data-fls-slider class="home-brands__slider swiper">
        <div class="home-brands__wrapper swiper-wrapper">
          <div class="home-brands__slide swiper-slide">
            <a href="elly.html" class="home-brands__slide-body" aria-label="link">
              <div class="home-brands__brand">
                <img class="home-brands__mask" data-img-ignore loading="lazy" src="@img/brands/brand-mask-1.svg" width="375" height="784" alt="Image">
                <img data-img-ignore loading="lazy" class="home-brands__img" src="@img/brands/brand-1.webp" width="375" height="784" alt="Image">
              </div>
              <div class="home-brands__name">
                <p>Elly</p>
              </div>
            </a>
          </div>
          <div class="home-brands__slide swiper-slide">
            <a href="molinero.html" class="home-brands__slide-body" aria-label="link">
              <div class="home-brands__brand">
                <img class="home-brands__mask" data-img-ignore loading="lazy" src="@img/brands/brand-mask-2.svg" width="375" height="784" alt="Image">
                <img data-img-ignore loading="lazy" class="home-brands__img" src="@img/brands/brand-2.webp" width="375" height="784" alt="Image">
              </div>
              <div class="home-brands__name">
                <p>Molinero</p>
              </div>
            </a>
          </div>
          <div class="home-brands__slide swiper-slide">
            <a href="bonisano.html" class="home-brands__slide-body" aria-label="link">
              <div class="home-brands__brand">
                <img class="home-brands__mask" data-img-ignore loading="lazy" src="@img/brands/brand-mask-3.svg" width="375" height="784" alt="Image">
                <img data-img-ignore loading="lazy" class="home-brands__img" src="@img/brands/brand-3.webp" width="375" height="784" alt="Image">
              </div>
              <div class="home-brands__name">
                <p>BoniSano</p>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>