<section data-fls-hero class="prod-hero">
  <div class="prod-hero__img">
    <picture>
      <source media="(max-width: 30.186em)" srcset="@img/elly/elly-mb.webp" type="image/webp">
      <img data-img-ignore fetchpriority="high" src="@img/elly/elly-pc.webp" width="375" height="784" alt="Image">
    </picture>
  </div>
  <div class="prod-hero__container">
    <a href="#" data-fls-golink="products" data-fls-button class="prod-hero__link btn btn--a" aria-label="link">
      <span>Асортимент</span>
    </a>
    <div class="prod-hero__head">
      <h1 class="prod-hero__title title">
        ELLY
      </h1>
      <div class="prod-hero__subtitle subtitle">
        <p>TM Elly — це кондитерський бренд, який задає стандарти. Преміальні кондитерські вироби, що доступні кожному. Ніжні, смачні та сучасні солодощі.
        </p>
        <br>
        <p><b>Elly — сучасна ніжність.</b></p>
      </div>
    </div>
  </div>
</section>

<section data-goid="products" data-fls-products class="products">
  <div class="products__container">
    <div class="products__list">

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/elly/elly-1-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/elly/elly-1-pc.webp" width="284" height="364" alt="Жувальний маршмелоу Smile-bloom">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Elly</div>
            <h3 class="product-card__title">
              SMILE-BLOOM
            </h3>
            <div class="product-card__text">
              ЖУВАЛЬНИЙ МАРШМЕЛОУ, ТМ «ELLY»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">100 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>SMILE-BLOOM</div>
          <div data-prod-subtitle>ЖУВАЛЬНИЙ МАРШМЕЛОУ, ТМ «ELLY»</div>
          <div data-prod-description>
            Дуже цікавий продукт для дітей. До 7 смаків у одній пачці. Формат гри - не вистачає смаків, придбай ще одну пачку) Стильний та якісний дизайн пакування.
          </div>
          <div data-prod-weight>100 г</div>
          <div data-prod-shelf-life>6 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>1,4 кг (14 упаковок)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/elly/elly-2-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/elly/elly-2-pc.webp" width="284" height="364" alt="Жувальний маршмелоу Smile-face">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Elly</div>
            <h3 class="product-card__title">
              SMILE-FACE
            </h3>
            <div class="product-card__text">
              ЖУВАЛЬНИЙ МАРШМЕЛОУ, ТМ «ELLY»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">100 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>SMILE-FACE</div>
          <div data-prod-subtitle>ЖУВАЛЬНИЙ МАРШМЕЛОУ, ТМ «ELLY»</div>
          <div data-prod-description>
            Дуже цікавий продукт для дітей. До 7 смаків у одній пачці. Формат гри - не вистачає смаків, придбай ще одну пачку) Стильний та якісний дизайн пакування.
          </div>
          <div data-prod-weight>100 г</div>
          <div data-prod-shelf-life>6 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>1,4 кг (14 упаковок)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/elly/elly-3-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/elly/elly-3-pc.webp" width="284" height="364" alt="Десерт з маршмелоу, декорований кокосовою стружкою">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Elly</div>
            <h3 class="product-card__title">
              ДЕСЕРТ З МАРШМЕЛОУ З КОКОСОМ
            </h3>
            <div class="product-card__text">
              ДЕСЕРТ, ТМ «ELLY»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">100 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>ДЕСЕРТ З МАРШМЕЛОУ З КОКОСОМ</div>
          <div data-prod-subtitle>ДЕСЕРТ, ТМ «ELLY»</div>
          <div data-prod-description>
            Десерти з цукрового печива та начинкою з маршмелоу. У преміальній упаковці. Кожен шматочок – це момент насолоди, створений для тих, хто цінує якість та бездоганний смак.
          </div>
          <div data-prod-weight>100 г</div>
          <div data-prod-shelf-life>8 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>2,1 кг (21 упаковка)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/elly/elly-4-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/elly/elly-4-pc.webp" width="284" height="364" alt="Десерт з маршмелоу, зі смаком вишні">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Elly</div>
            <h3 class="product-card__title">
              ДЕСЕРТ З МАРШМЕЛОУ ЗІ СМАКОМ ВИШНІ
            </h3>
            <div class="product-card__text">
              ДЕСЕРТ, ТМ «ELLY»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">120 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>ДЕСЕРТ З МАРШМЕЛОУ ЗІ СМАКОМ ВИШНІ</div>
          <div data-prod-subtitle>ДЕСЕРТ, ТМ «ELLY»</div>
          <div data-prod-description>
            Десерти з цукрового печива та начинкою з маршмелоу. У преміальній упаковці. Кожен шматочок – це момент насолоди, створений для тих, хто цінує якість та бездоганний смак.
          </div>
          <div data-prod-weight>120 г</div>
          <div data-prod-shelf-life>8 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>2,52 кг (21 упаковка)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/elly/elly-5-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/elly/elly-5-pc.webp" width="284" height="364" alt="Десерт з маршмелоу, зі смаком персика">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Elly</div>
            <h3 class="product-card__title">
              ДЕСЕРТ З МАРШМЕЛОУ ЗІ СМАКОМ ПЕРСИКА
            </h3>
            <div class="product-card__text">
              ДЕСЕРТ, ТМ «ELLY»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">120 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>ДЕСЕРТ З МАРШМЕЛОУ ЗІ СМАКОМ ПЕРСИКА</div>
          <div data-prod-subtitle>ДЕСЕРТ, ТМ «ELLY»</div>
          <div data-prod-description>
            Десерти з цукрового печива та начинкою з маршмелоу. У преміальній упаковці. Кожен шматочок – це момент насолоди, створений для тих, хто цінує якість та бездоганний смак.
          </div>
          <div data-prod-weight>120 г</div>
          <div data-prod-shelf-life>8 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>2,52 кг (21 упаковка)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/elly/elly-6-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/elly/elly-6-pc.webp" width="284" height="364" alt="Десерт з маршмелоу, глазурований">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Elly</div>
            <h3 class="product-card__title">
              ДЕСЕРТ З МАРШМЕЛОУ ГЛАЗУРОВАНИЙ
            </h3>
            <div class="product-card__text">
              ДЕСЕРТ, ТМ «ELLY»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">140 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>ДЕСЕРТ З МАРШМЕЛОУ ГЛАЗУРОВАНИЙ</div>
          <div data-prod-subtitle>ДЕСЕРТ, ТМ «ELLY»</div>
          <div data-prod-description>
            Десерти з цукрового печива та начинкою з маршмелоу. У преміальній упаковці. Кожен шматочок – це момент насолоди, створений для тих, хто цінує якість та бездоганний смак.
          </div>
          <div data-prod-weight>140 г</div>
          <div data-prod-shelf-life>8 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>2,94 кг (21 упаковка)</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/elly/elly-7-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/elly/elly-7-pc.webp" width="284" height="364" alt="Батончик з маршмелоу Вершки">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Elly</div>
            <h3 class="product-card__title">
              БАТОНЧИК З МАРШМЕЛОУ «ВЕРШКИ»
            </h3>
            <div class="product-card__text">
              ГЛАЗУРОВАНИЙ БАТОНЧИК, ТМ «ELLY»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">23 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>БАТОНЧИК З МАРШМЕЛОУ «ВЕРШКИ»</div>
          <div data-prod-subtitle>ГЛАЗУРОВАНИЙ БАТОНЧИК, ТМ «ELLY»</div>
          <div data-prod-description>
            Глазуровані батончики з маршмелоу. У преміальній упаковці. Кожен шматочок – це момент насолоди, створений для тих, хто цінує якість та бездоганний смак.
          </div>
          <div data-prod-weight>23 г</div>
          <div data-prod-shelf-life>6 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>460 г (20 шт × 23 г)</div>
            </div>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>8 шоубоксів</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/elly/elly-9-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/elly/elly-9-pc.webp" width="284" height="364" alt="Батончик з маршмелоу Вишня">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Elly</div>
            <h3 class="product-card__title">
              БАТОНЧИК З МАРШМЕЛОУ «ВИШНЯ»
            </h3>
            <div class="product-card__text">
              ГЛАЗУРОВАНИЙ БАТОНЧИК, ТМ «ELLY»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">23 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>БАТОНЧИК З МАРШМЕЛОУ «ВИШНЯ»</div>
          <div data-prod-subtitle>ГЛАЗУРОВАНИЙ БАТОНЧИК, ТМ «ELLY»</div>
          <div data-prod-description>
            Глазуровані батончики з маршмелоу. У преміальній упаковці. Кожен шматочок – це момент насолоди, створений для тих, хто цінує якість та бездоганний смак.
          </div>
          <div data-prod-weight>23 г</div>
          <div data-prod-shelf-life>6 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>460 г (20 шт × 23 г)</div>
            </div>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>8 шоубоксів</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/elly/elly-10-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/elly/elly-10-pc.webp" width="284" height="364" alt="Батончик з маршмелоу Апельсин">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Elly</div>
            <h3 class="product-card__title">
              БАТОНЧИК З МАРШМЕЛОУ «АПЕЛЬСИН»
            </h3>
            <div class="product-card__text">
              ГЛАЗУРОВАНИЙ БАТОНЧИК, ТМ «ELLY»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">23 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>БАТОНЧИК З МАРШМЕЛОУ «АПЕЛЬСИН»</div>
          <div data-prod-subtitle>ГЛАЗУРОВАНИЙ БАТОНЧИК, ТМ «ELLY»</div>
          <div data-prod-description>
            Глазуровані батончики з маршмелоу. У преміальній упаковці. Кожен шматочок – це момент насолоди, створений для тих, хто цінує якість та бездоганний смак.
          </div>
          <div data-prod-weight>23 г</div>
          <div data-prod-shelf-life>6 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>460 г (20 шт × 23 г)</div>
            </div>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>8 шоубоксів</div>
            </div>
          </div>
        </div>
      </article>

      <article data-prod class="product-card" data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5">
        <a href="#" data-fls-popup-link="popup-product" class="product-card__link" aria-label="open popup">
          <div class="product-card__image">
            <picture>
              <source media="(max-width: 30.186em)" srcset="@img/elly/elly-8-mb.webp" type="image/webp">
              <img data-img-ignore loading="lazy" class="ibg ibg--cn" src="@img/elly/elly-8-pc.webp" width="284" height="364" alt="Батончик з маршмелоу Банан">
            </picture>
          </div>
          <div class="product-card__body">
            <div class="product-card__brand">Elly</div>
            <h3 class="product-card__title">
              БАТОНЧИК З МАРШМЕЛОУ «БАНАН»
            </h3>
            <div class="product-card__text">
              ГЛАЗУРОВАНИЙ БАТОНЧИК, ТМ «ELLY»
            </div>
            <img class="product-card__heart" src="@img/icons/heart.svg" loading="lazy" width="18" height="17" alt="Image">
            <div class="product-card__weight">23 г</div>
          </div>
        </a>
        <div hidden data-prod-info>
          <div data-prod-title>БАТОНЧИК З МАРШМЕЛОУ «БАНАН»</div>
          <div data-prod-subtitle>ГЛАЗУРОВАНИЙ БАТОНЧИК, ТМ «ELLY»</div>
          <div data-prod-description>
            Глазуровані батончики з маршмелоу. У преміальній упаковці. Кожен шматочок – це момент насолоди, створений для тих, хто цінує якість та бездоганний смак.
          </div>
          <div data-prod-weight>23 г</div>
          <div data-prod-shelf-life>6 місяців</div>
          <div data-prod-packs>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-1.svg">
              <div data-prod-pack-type>шоубокс</div>
              <div data-prod-pack-value>460 г (20 шт × 23 г)</div>
            </div>
            <div data-prod-pack data-prod-pack-image="@img/icons/box-2.svg">
              <div data-prod-pack-type>ящик</div>
              <div data-prod-pack-value>8 шоубоксів</div>
            </div>
          </div>
        </div>
      </article>

    </div>
  </div>
</section>

<section data-goid="brands" data-fls-brands class="home-brands">
  <div class="home-brands__container">
    <div data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="1" class="home-brands__head">
      <h2 class="home-brands__title title trans--1">
        НАШІ БРЕНДИ
      </h2>
      <div class="home-brands__subtitle subtitle trans--1">
        <p>Наші бренди — це різні історії та емоції, які обʼєднує спільна цінність: якість, довіра та натхнення для наших клієнтів.</p>
      </div>
    </div>
  </div>
  <div class="home-brands__body">
    <div class="home-brands__nav __container">
      <button type="button" class="home-brands__btn swiper-button-prev swiper-button" aria-label="prev">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M26.5 29L21.5 24L26.5 19" stroke="#633510" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <button type="button" class="home-brands__btn swiper-button-next swiper-button" aria-label="next">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.5 19L26.5 24L21.5 29" stroke="#633510" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="home-brands__container">
      <div data-fls-slider class="home-brands__slider swiper">
        <div class="home-brands__wrapper swiper-wrapper">
          <div class="home-brands__slide swiper-slide">
            <a href="elly.html" class="home-brands__slide-body" aria-label="link">
              <div class="home-brands__brand">
                <img class="home-brands__mask" data-img-ignore loading="lazy" src="@img/brands/brand-mask-1.svg" width="375" height="784" alt="Image">
                <img data-img-ignore loading="lazy" class="home-brands__img" src="@img/brands/brand-1.webp" width="375" height="784" alt="Image">
              </div>
              <div class="home-brands__name">
                <p>Elly</p>
              </div>
            </a>
          </div>
          <div class="home-brands__slide swiper-slide">
            <a href="molinero.html" class="home-brands__slide-body" aria-label="link">
              <div class="home-brands__brand">
                <img class="home-brands__mask" data-img-ignore loading="lazy" src="@img/brands/brand-mask-2.svg" width="375" height="784" alt="Image">
                <img data-img-ignore loading="lazy" class="home-brands__img" src="@img/brands/brand-2.webp" width="375" height="784" alt="Image">
              </div>
              <div class="home-brands__name">
                <p>Molinero</p>
              </div>
            </a>
          </div>
          <div class="home-brands__slide swiper-slide">
            <a href="bonisano.html" class="home-brands__slide-body" aria-label="link">
              <div class="home-brands__brand">
                <img class="home-brands__mask" data-img-ignore loading="lazy" src="@img/brands/brand-mask-3.svg" width="375" height="784" alt="Image">
                <img data-img-ignore loading="lazy" class="home-brands__img" src="@img/brands/brand-3.webp" width="375" height="784" alt="Image">
              </div>
              <div class="home-brands__name">
                <p>BoniSano</p>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
