<footer data-fls-footer data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="0.5" class="footer">
	<div class="footer__container">
		<div class="footer__head head-footer">
			<div class="head-footer__logo-wr">
				<a href="index.html" class="head-footer__logo">
					<img  src="@img/logos/logo-transp.svg" width="122" heigh="100" alt="Image">
				</a>
			</div>
			<div class="head-footer__title">
				<p>Формуємо настрій<br> мільйонів споживачів!</p>
			</div>
			<div class="head-footer__dwnl">
				<a href="@files/test.pdf" data-fls-button class="btn btn--a" target="_blank" aria-label="download document">
					<span>Завантажити Каталог</span>
				</a>
			</div>
		</div>
		<div class="footer__contacts contacts-footer">
			<div class="contacts-footer__title">
				<p>ЗАЛИШИЛИСЬ ПИТАННЯ?</p>
			</div>
			<div class="contacts-footer__block">
				<div class="contacts-footer__img">
					<img class="ibg" src="@img/team/manager.jpg" width="255" heigh="255" alt="Image">
				</div>
				<div class="contacts-footer__body">
					<div class="contacts-footer__top">
						<div class="contacts-footer__name">
							<p>Ольга<br> Остапенко</p>
						</div>
						<div class="contacts-footer__position">
							<p>Ваш менеджер</p>
						</div>
					</div>
					<a href="tel:+380678945678" class="contacts-footer__phone" aria-label="phone">+38(067)-894-56-78</a>
					<a href="mailto:Info@sweetbakers.com" class="contacts-footer__mail" aria-label="phone">Info@sweetbakers.com</a>
				</div>
			</div>
			<div class="contacts-footer__btn">
				<a href="#" data-fls-popup-link="popup-form" data-fls-button class="btn btn--a" aria-label="open popup">
					<span>Зв'язатися</span>
				</a>
			</div>
		</div>
		<div class="footer__address address-footer">
			<address class="address-footer__address">
				<div class="address-footer__title">
					<p>Головний офіс: </p>
				</div>
				<a href="#" class="address-footer__maps" aria-label="google maps">
					вул. Павла Вірського, 1, Дніпро,<br> Дніпропетровська область, Украина, 49000 
				</a>
			</address>
			<ul class="address-footer__list">
				<li class="address-footer__item">
					<a href="#" class="address-footer__link" aria-label="link">
						<div class="address-footer__link-i">
							<img src="@img/icons/tt.svg" width="28" heigh="28" alt="Image">
						</div>
						<span>TikTok</span>
					</a>
				</li>
				<li class="address-footer__item">
					<a href="#" class="address-footer__link" aria-label="link">
						<div class="address-footer__link-i">
							<img src="@img/icons/fb-2.svg" width="28" heigh="28" alt="Image">
						</div>
						<span>facebook</span>
					</a>
				</li>
				<li class="address-footer__item">
					<a href="#" class="address-footer__link" aria-label="link">
						<div class="address-footer__link-i">
							<img src="@img/icons/insta-2.svg" width="28" heigh="28" alt="Image">
						</div>
						<span>instagram</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>