<div data-fls-notfound class="notfound">
  <div class="notfound__container">
    <div class="notfound__head">
      <div class="notfound__title">404</div>
      <div class="notfound__subtitle subtitle">Схоже, щось пішло не так і цієї сторінки вже не існує. Перейдіть на головну сторінку або до каталогу брендів.</div>
    </div>
  </div>

  <section data-goid="brands" data-fls-brands class="home-brands">
    <div class="home-brands__container">
      <div data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold="1" class="home-brands__head">
        <h2 class="home-brands__title title trans--1">
          НАШІ БРЕНДИ
        </h2>
        <div class="home-brands__subtitle subtitle trans--1">
          <p>Наші бренди — це різні історії та емоції, які обʼєднує спільна цінність: якість, довіра та натхнення для наших клієнтів.</p>
        </div>
      </div>
    </div>
    <div class="home-brands__body">
      <div class="home-brands__nav __container">
        <button type="button" class="home-brands__btn swiper-button-prev swiper-button" aria-label="prev">
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M26.5 29L21.5 24L26.5 19" stroke="#633510" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
        <button type="button" class="home-brands__btn swiper-button-next swiper-button" aria-label="next">
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.5 19L26.5 24L21.5 29" stroke="#633510" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="home-brands__container">
        <div data-fls-slider class="home-brands__slider swiper">
           <div class="home-brands__wrapper swiper-wrapper">
            <div class="home-brands__slide swiper-slide">
              <a href="elly.html" class="home-brands__slide-body" aria-label="link">
                <div class="home-brands__brand">
                  <img class="home-brands__mask" data-img-ignore loading="lazy" src="@img/brands/brand-mask-1.svg" width="375" height="784" alt="Image">
                  <img data-img-ignore loading="lazy" class="home-brands__img" src="@img/brands/brand-1.webp" width="375" height="784" alt="Image">
                </div>
                <div class="home-brands__name">
                  <p>Elly</p>
                </div>
              </a>
            </div>
            <div class="home-brands__slide swiper-slide">
              <a href="molinero.html" class="home-brands__slide-body" aria-label="link">
                <div class="home-brands__brand">
                  <img class="home-brands__mask" data-img-ignore loading="lazy" src="@img/brands/brand-mask-2.svg" width="375" height="784" alt="Image">
                  <img data-img-ignore loading="lazy" class="home-brands__img" src="@img/brands/brand-2.webp" width="375" height="784" alt="Image">
                </div>
                <div class="home-brands__name">
                  <p>Molinero</p>
                </div>
              </a>
            </div>
            <div class="home-brands__slide swiper-slide">
              <a href="bonisano.html" class="home-brands__slide-body" aria-label="link">
                <div class="home-brands__brand">
                  <img class="home-brands__mask" data-img-ignore loading="lazy" src="@img/brands/brand-mask-3.svg" width="375" height="784" alt="Image">
                  <img data-img-ignore loading="lazy" class="home-brands__img" src="@img/brands/brand-3.webp" width="375" height="784" alt="Image">
                </div>
                <div class="home-brands__name">
                  <p>BoniSano</p>
                </div>
              </a>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>

</div> 
